.idea
app/.idea

docker/.idea
docker/.env
docker/postgres/master/.env.master
docker/postgres/master/initdb.d/init-user-db.sql
docker/php-fpm/zsh/.composer
docker/php-fpm/zsh/.symfony5
docker/php-fpm/zsh/.zsh_history
docker/php-fpm/zsh/zsh.d/.oh-my-zsh/cache/*
!docker/php-fpm/zsh/zsh.d/.oh-my-zsh/cache/.gitkeep
