{% extends 'base.html.twig' %}

{% block title %}{{ 'Log in!'|trans }}{% endblock %}

{% block body %}
    <div class="col-12 d-flex justify-content-center">
        <div class="bg-light shadow border rounded-3 p-4">
            <h3 class="font-weight-light">{{ 'Sign in'|trans }}</h3>
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <div class="mb-3">
                    <label class="form-label required" for="inputUsername">{{ 'Username'|trans }}</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                </div>

                <div class="mb-3">
                    <label class="form-label required" for="inputPassword">{{ 'Password'|trans }}</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>

                <div class="mb-3">
                    <button class="btn btn-lg btn-primary" type="submit">{{ 'Sign in'|trans }}</button>
                    <input type="checkbox" name="remember_me" id="inputRememberMe" checked>
                    <label for="inputRememberMe">{{ 'Remember'|trans }}</label>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </form>
        </div>
    </div>
{% endblock %}
